<html>
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <link rel="stylesheet" href="/css/game.css">
</head>
<body>
    <div class="hero">
        <nav>
	     <ul>
                <li><a href="/">Home</a></li>
                <li><a href="schedule">Schedule</a></li>
                <li><a href="game">Game</a></li>
                <li><a href="audio">Audio</a></li>
                <li><a href="video">Video</a></li>
                <li><a href="feedback">Feedback</a></li>
            </ul>
        </nav>	
        <div class="gameplay" id="gameplay">
            <center>
            <h1 style="color: black;">Please click on 4 arbitrary spots within this box, and see my shape 
                transformation magic to happen.</h1>
            <div id="error_game"></div>
            <canvas id="canvas" onclick="return coordinates_display(canvas, event);" width="500px" height="440px" style="border:1px solid #000000;">
    
            </canvas>
        </center>
        <center>
            <button class="gamebtn" id="startbtn" onclick="return startGame();"> START</button>
            <button class="gamebtn" onclick="return myStopFunction();"> STOP</button>
            </center>
        </div>
	</div>
<script src="js/game.js"></script>
</body>
</html>