<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Website</title>
    <!----CSS link----->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="hero">
        <nav>
            <img src="./img/logo.jpeg" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="schedule">Schedule</a></li>
                <li><a href="game">Game</a></li>
                <li><a href="audio">Audio</a></li>
                <li><a href="video">Video</a></li>
                <li><a href="feedback">Feedback</a></li>
            </ul>
        </nav>
        <div class="motto">
            <section>
                <h1> My Motto is <span><q> Live to fight another day</q></span>.</h1>
            </section>
        </div>
        <div class="content">
            <inlinequote>
                <span class="title">SIU Grad Student</span>
            </inlinequote>
            <article>
                <h1>Hello, I’m <span>Akshay Deep Chowdhary Madala</span></h1>
                </aticle>
                <aside>
                    <p>I’m working on a professional, visually sophisticated and technologically proficient, responsive
                        and multi-functional Website.</p>
                </aside>
                <a href="/docs/CVResume.PDF" class="btn">Profile(Resume)</a>
                <a href="pics" class="btn">My Pictures</a>
        </div>
    </div>

</body>

</html>