<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Schedule</title>
	<link rel="stylesheet" href="/css/schedule.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="schedule">Schedule</a></li>
			<li><a href="game">Game</a></li>
			<li><a href="audio">Audio</a></li>
			<li><a href="video">Video</a></li>
			<li><a href="feedback">Feedback</a></li>
		</ul>
	</nav>
	<div class="hero">

		<h1> My Schedule</h1>
		<table>
			<tbody>
				<tr>
					<th>08:00</th>
					<td colspan="4" rowspan="2" class="stage-leisure">Morning Prayer and Freshup</td>
				</tr>
				<tr>
					<th>08:30</th>
				</tr>
				<tr>
					<th>09:00</th>
					<td colspan="4" class="stage-work">Pending works finishing</td>
				</tr>
				<tr>
					<th>09:30</th>
					<td colspan="4" class="stage-work">Python Learning</td>
				</tr>
				<tr>
					<th>10:00</th>
					<td colspan="4" class="stage-work">SQL Learning</td>
				</tr>
				<tr>
					<th>10:30</th>
					<td colspan="4" class="stage-work">Web Design Learning</td>
				</tr>
				<tr>
					<th>11:00</th>
					<td rowspan="5" class="stage-cutting">Vegetable Cutting</td>
					<td rowspan="5" class="stage-clean">Room Cleaning & Dish Washing</td>
					<td rowspan="5" class="stage-cooking">Cooking</td>
					<td rowspan="2" class="stage-eat">Lunch</td>
				</tr>
				<tr>
					<th>11:30</th>
				</tr>
				<tr>
					<th>12:00</th>
					<td rowspan="3" class="stage-leisure">Break</td>
				</tr>
				<tr>
					<th>12:30</th>
				</tr>
				<tr>
					<th>13:00</th>
				</tr>
				<tr>
					<th>13:30</th>
					<td colspan="4" rowspan="2" class="stage-work">Gaming</td>
				</tr>
				<tr>
					<th>14:00</th>
				</tr>
				<tr>
					<th>14:30</th>
					<td colspan="4" rowspan="8" class="stage-leisure">Sports , Gym & Break</td>
				</tr>
				<tr>
					<th>15:00</th>
				</tr>
				<tr>
					<th>15:30</th>
				</tr>
				<tr>
					<th>16:00</th>
				</tr>
				<tr>
					<th>16:30</th>
				</tr>
				<tr>
					<th>17:00</th>
				</tr>
				<tr>
					<th>17:30</th>
				</tr>
				<tr>
					<th>18:00</th>
				</tr>
				<tr>
					<th>18:30</th>
					<td colspan="4" class="stage-work">Web Design Learning</td>
				</tr>
				<tr>
					<th>19:00</th>
					<td colspan="2" rowspan="2" class="stage-work">Laundry</td>
					<td colspan="2" rowspan="2" class="stage-leisure">Web Series</td>
				</tr>
				<tr>
					<th>19:30</th>
				</tr>
				<tr>
					<th>20:00</th>
					<td colspan="2" class="stage-cooking">Cooking</td>
					<td class="stage-cutting">Vegetable Cutting</td>
					<td class="stage-clean">Cleaning</td>
				</tr>
				<tr>
					<th>21:30</th>
					<td colspan="4" rowspan="2" class="stage-eat">Dinner</td>
				</tr>
				<tr>
					<th>22:30</th>
				</tr>
			</tbody>
		</table>

	</div>
</body>

</html>