<html>
    <head>
        <title>Feedback submitted </title>
        <meta charset="utf-8" />
        <meta name="viewport"
            content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    
        <link rel="stylesheet" href="/css/feedback.css">
    </head>
    <body>
        <div class="hero">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="schedule">Schedule</a></li>
                    <li><a href="game">Game</a></li>
                    <li><a href="audio">Audio</a></li>
                    <li><a href="video">Video</a></li>
                    <li><a href="feedback">Feedback</a></li>
                </ul>
            </nav>
        </div>
        <div class="formContainer">
            <div class="heading">
                FEEDBACK FORM
            </div>
            <div class="description">
                <h2> THANK YOU !!</h2>
                <h3>We will send you an email as soon as we receive your feedback!</h3>
            </div>
    
            <div id="loading">
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
            </div>
    
        </div>
    
    </body>
</html>
<!-- Success -->